.parent-wrapper{
    width: 100%;
    margin: 100px 0px 0px 0px;
}

.parent-wrapper ul li {
    max-height: 20em; 
    float: left;
    width: 15%;
    margin: 0px 20px 0px 0px;
    border: 0px solid black;
    list-style: none;
    scroll-behavior: auto;
    /* height: 100px;/ */
    /* border: 1px solid black; */
    overflow-y:auto;/*Also...*/
    overflow-x:hidden;
    /* z-index: 9999; */
}
.input-box {
    width: 30%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 30px 30px 0px 300px;
}

.terms-checkbox {
    display: inline-block;
  }
